@import "mixins";

/* Overriding positive */
.button.button-positive {
  background-color: #ef473a !important;
}

.topper {
  margin-top: 10%;
}

.c-center {
    margin: auto;
}

.xlarge {
  font-size: x-large;
}

.logo {
  @extend .c-center;
  content: url("../img/sm-2.png");
  /*content: url("../img/sm-1.jpg");*/
  width: 60%;
  @include border-radius(15px);
}

.bold {
  font-weight: 700;
}

.popup {
    background-color: #f0f0f0 !important;
    border: 1px solid #ddd;
    @include btn-rounded-corner(5px);
}

.popup-head {
    border-bottom: 1px solid #ddd !important;
}

.app-error {
    color: #B50404;
    font-size: small;
    white-space: initial;
}

.txt-right-align {
  text-align: right;
}

.txt-left-align {
  text-align: left;
}

.txt-ctr-align {
  text-align: center;
}

.txt-underline {
  text-decoration: underline;
}

.signin-links {
  color: $assertive;
  @extend .txt-underline;
  @extend .col;
  @extend .col-50;
}

.signin-su {
  @extend .signin-links;
  @extend .txt-left-align;
}

.signin-fp {
  @extend .signin-links;
  @extend .txt-right-align;
}
