@import "mixins";

/* Overriding positive */
.button.button-positive {
  background-color: #ef473a !important;
}

.topper {
  margin-top: 10%;
}

.bottomer {
    margin-bottom: 30px !important;
}

.c-center {
    margin: auto;
}

.xlarge {
  font-size: x-large;
}

.logo {
  @extend .c-center;
  content: url("../img/sm-2.png");
  /*content: url("../img/sm-1.jpg");*/
  width: 60%;
  @include border-radius(15px);
}

.bold {
  font-weight: 700;
}

.popup {
    background-color: #f0f0f0 !important;
    border: 1px solid #ddd;
    @include btn-rounded-corner(5px);
}

.popup-head {
    border-bottom: 1px solid #ddd !important;
}

.app-error {
    color: #B50404;
    font-size: small;
    white-space: initial;
}

.txt-right-align {
  text-align: right;
}

.txt-left-align {
  text-align: left;
}

.txt-ctr-align {
  text-align: center !important;
}

.txt-underline {
  text-decoration: underline;
}

.txt-color {
  color: $assertive;
}

.signin-links {
  color: $assertive;
  @extend .txt-underline;
  @extend .col;
  @extend .col-50;
}

.signin-su {
  @extend .signin-links;
  @extend .txt-left-align;
}

.signin-fp {
  @extend .signin-links;
  @extend .txt-right-align;
}

.margin-auto {
  margin: auto!important;
}


.transparent {
  background: transparent !important;
}

.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}

.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

.slider {
  width: 100%;
  height: 100%;
}

p.info {
  position: absolute;
  bottom: 55px;
  margin: 0 auto;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 28px;
  color: #ffffff;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}

.txt-xx-small-font {
  font-size: xx-small !important;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.m-left30 {
  margin-left: 30% !important;
}

.w100 {
  width: 100% !important;
}
