<ion-modal-view class="modal image-modal transparent" ng-click="ic.hideImagesModal()">
  <!--<ion-header-bar class="bar-assertive">
    <h1 class="title txt-ctr-align">Image <i class="icon ion-android-close float-right xlarge" ng-click="pc.hideProfileFModal()"></i></h1>
  </ion-header-bar>-->

  <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="false">
    <ion-slide ng-repeat="img in ic.modalImgsArr">
      <img ng-src="{{img}}" class="fullscreen-image" />
      <!--<p class="info">{{oImage.msg}}</p>-->
    </ion-slide>
  </ion-slide-box>
</ion-modal-view>
