<ion-view side="right" view-title="Address" title="Address" hide-back-button="true" hide-nav-bar="false">
  <ion-nav-buttons side="left">
    <button class="button" ui-sref="signin">
      <i class="xlarge ion-android-arrow-back"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="">
    <div class="list">
      <form class="" name="addressForm" novalidate>
        <label class="item item-input item-select">
          <div class="input-label">
            City
          </div>
          <select disabled="true" ng-model="addressCtrl.sa.city">
            <option ng-repeat="c in addressCtrl.cityArr">{{c}}</option>
          </select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Area
          </div>
          <select ng-model="addressCtrl.sa.area">
            <option ng-repeat="a in addressCtrl.areaArr">{{a}}</option>
          </select>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Sector</span>
          <input type="text" placeholder="Sector" ng-model="addressCtrl.sa.sector" ng-required="true">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Residence
          </div>
          <select ng-model="addressCtrl.sa.residence" ng-required="true">
            <option ng-repeat="r in addressCtrl.residenceArr">{{r}}</option>
          </select>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">{{addressCtrl.sa.residence}} address</span>
          <input type="text" name="residenceAddr" placeholder="{{addressCtrl.sa.residence}} address" ng-model="addressCtrl.sa.residenceAddr" ng-required="true" ng-minlength="3" ng-minlength="20">
          <div class="app-error" ng-messages="addressForm.residenceAddr.$error" ng-if="addressForm.residenceAddr.$dirty">
            <div ng-message="required">{{addressCtrl.sa.residence}} address is required.</div>
            <div ng-message="minlength">{{addressCtrl.sa.residence}} address must be at least 3 characters long.</div>
            <div ng-message="maxlength">{{addressCtrl.sa.residence}} address can be at most 20 characters long.</div>
          </div>
        </label>
        <div class="padding">
          <button class="button button-full button-assertive" ng-disabled="addressForm.$invalid" ng-click="addressCtrl.setAddress();">
            Submit
          </button>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
