<ion-view side="right" view-title="Forgot password" title="Forgot password" hide-back-button="true" hide-nav-bar="false">
  <ion-nav-buttons side="left">
    <button class="button button-clear float-left" ui-sref="signin">
      <i class="icon ion-android-arrow-back"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="">
    <div class="list">
      <form name="forgotPasswordForm" novalidate ng-hide="fpCtrl.isMobileReg">
        <label class="item item-input item-floating-label">
          <span class="input-label">Mobile number</span>
          <input type="tel" name="phone" placeholder="Mobile number" ng-model="fpCtrl.fp.phone" ng-required="true" ng-minlength="10" ng-maxlength="10">
          <div class="app-error" ng-messages="forgotPasswordForm.phone.$error" ng-if="forgotPasswordForm.phone.$dirty">
            <div ng-message="required">Mobile number is required.</div>
            <div ng-message="tel">Enter a valid mobile number.</div>
            <div ng-message="minlength">Mobile number must be at least 10 digits long.</div>
            <div ng-message="maxlength">Mobile number can be at most 10 digits long.</div>
          </div>
        </label>
        <div class="padding">
          <button class="button button-small button-full button-royal" ng-disabled="forgotPasswordForm.$invalid" ng-click="fpCtrl.forgotPassword()">
            Submit
          </button>
        </div>
      </form>

      <form name="resetPasswordForm" novalidate ng-show="fpCtrl.isMobileReg">
        <label class="item item-input item-floating-label">
          <span class="input-label">Password</span>
          <input type="password" name="password" placeholder="Password" ng-model="fpCtrl.rp.password" ng-required="true" ng-minlength="6">
          <div class="app-error" ng-messages="resetPasswordForm.password.$error" ng-if="resetPasswordForm.password.$dirty">
            <div ng-message="required">Password is required.</div>
            <div ng-message="minlength">Password must be at least 6 characters long.</div>
            <div ng-message="maxlength">Password can be at most 12 characters long.</div>
          </div>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Re-type password</span>
          <input type="password" name="rePassword" placeholder="Re-type password" ng-model="fpCtrl.rp.rePassword" ng-required="true" ng-minlength="6">
          <div class="app-error" ng-messages="resetPasswordForm.rePassword.$error" ng-if="resetPasswordForm.rePassword.$dirty">
            <div ng-message="required">Password is required.</div>
            <div ng-message="minlength">Password must be at least 6 characters long.</div>
            <div ng-message="maxlength">Password can be at most 12 characters long.</div>
          </div>
        </label>
        <div class="padding">
          <button class="button button-small button-full button-royal" ng-disabled="resetPasswordForm.$invalid" ng-click="fpCtrl.resetPassword()">
            Reset password
          </button>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
