<ion-view view-title="{{pc.requestsTitle}}">

  <ion-nav-buttons side="right">
    <button class="button button-clear float-left" ng-click="pc.requestsActionSheet()">
      <i class="icon ion-android-more-vertical"></i>
    </button>
  </ion-nav-buttons>

  <ion-content>
    <div class="card" ng-show="pc.profiles.length === 0">
      <div class="item item-text-wrap">
        No requests.
      </div>
    </div>
    <div class="card" ng-show="pc.profiles.length !== 0">
      <div class="item item-thumbnail-left" ng-repeat="p in pc.profiles">
        <img ng-src="data:image/jpg;base64,{{p.dp}}" ng-click="pc.viewProfile(p._id, $index)">
        <h2>
          {{p.basicDetails.fullName}}
        </h2>
        <button ng-show="pc.isRequestsOut" class="button button-royal button-clear float-right" ng-click="pc.removeFromInterest(p._id, $index)">
          <i class="icon ion-android-delete"></i>
        </button>
        <div class="" ng-click="pc.viewProfile(p._id, $index)">
          <p>{{p.userId}}</p>
          <p>{{p.basicDetails.age}} Yrs, {{p.basicDetails.height.feet}}' {{p.basicDetails.height.inches}}"</p>
          <p>{{p.locationInfo.town}}, {{p.locationInfo.district}}.</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
