<ion-view view-title="Requests">
  <ion-content class="">
    <div class="card" ng-show="pc.profiles.length === 0">
      <div class="item item-text-wrap">
        No requests.
      </div>
    </div>
    <div class="card" ng-show="pc.profiles.length !== 0">
      <div class="item item-thumbnail-left" ng-repeat="p in pc.profiles">
        <img src="img/sm-2.png" ng-click="pc.viewProfile(p._id)">
        <h2>
          {{p.fullName}}
          <i ng-show="pc.isSlProfiles" class="icon ion-android-delete float-right" ng-click="pc.unShortlist(pc.profile._id)"></i>
        </h2>
        <div class="" ng-click="pc.viewProfile(p._id)">
          <p>24 Yrs, 5'6", Sangli.</p>
          <p>24 Yrs, 5'6", Sangli.</p>
          <p>24 Yrs, 5'6", Sangli.</p>
        </div>
      </div>
    </div>
  </ion-content>
  <!--<div class="bar bar-footer">
    <button class="button button-full mtop0" ui-sref="menu.profiles">View other profiles</button>
  </div>-->
</ion-view>
