<ion-view view-title="Requests">
  <ion-content class="has-footer">
    <div class="card" ng-show="pc.profiles.length === 0">
      <div class="item item-text-wrap">
        No requests.
      </div>
    </div>
    <div class="card" ng-show="pc.profiles.length !== 0">
      <div class="item item-thumbnail-left" ng-repeat="p in pc.profiles">
        <!--<img src="img/sm-2.png" ng-click="pc.viewProfile(p._id)">
        <h2>
          {{p.fullName}}
        </h2>-->
        <img ng-src="data:image/jpg;base64,{{p.dp}}" ng-click="pc.viewProfile(p._id)">
        <h2>
          {{p.basicDetails.fullName}}
        </h2>
        <button class="button button-assertive button-clear float-right" ng-click="pc.removeFromInterest(p._id, $index)">
          <i class="icon ion-android-delete"></i>
        </button>
        <div class="" ng-click="pc.viewProfile(p._id)">
          <p>24 Yrs, 5'6", Sangli.</p>
          <p>24 Yrs, 5'6", Sangli.</p>
          <p>24 Yrs, 5'6", Sangli.</p>
        </div>

      </div>
    </div>
  </ion-content>
  <div class="bar bar-footer">
    <button ng-click="pc.getRequestsOut()" class="button button-assertive">Requests out</button>
    <button ng-click="pc.getRequestsIn()" class="button button-assertive">Requests in</button>
  </div>
</ion-view>
