<ion-view view-title="Location">
  <ion-nav-buttons side="right">
  </ion-nav-buttons>
  <ion-content>
    <!-- Location upload form -->
    <form name="locationForm" novalidate>
      <label class="item item-input item-select">
        <div class="input-label">
          District
        </div>
        <select ng-model="lc.lf.district">
          <option ng-repeat="d in lc.districtArr">{{d}}</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Taluqa
        </div>
        <select ng-model="lc.lf.taluqa">
          <option ng-repeat="t in lc.taluqaArr">{{t}}</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Town
        </div>
        <select ng-model="lc.lf.town">
          <option ng-repeat="t in lc.townArr">{{t}}</option>
        </select>
      </label>
      <div class="padding">
        <button class="button button-full button-assertive" ng-disabled="locationForm.$invalid" ng-click="lc.updateLocation()">
          Update address
        </button>
      </div>
    </form>
  </ion-content>
</ion-view>
