<ion-modal-view view-title="Basic details">
  <ion-header-bar class="bar-assertive">
    <h1 class="title txt-ctr-align">Basic details
    <button class="button button-clear float-left m-top1" ng-click="epc.hideBasicDetailsModal()">
      <i class="icon ion-android-arrow-back"></i>
    </button>
    </h1>
  </ion-header-bar>
  <ion-content class="">
    <!-- Update persional information -->
    <form name="basicDetailsForm" novalidate>
      <label class="item item-input item-floating-label">
        <span class="input-label">Full name</span>
        <input type="text" name="fullName" placeholder="Full name" ng-model="epc.bdf.fullName" ng-required="true" ng-minlength="5" ng-maxlength="20">
        <div class="app-error" ng-messages="basicDetailsForm.fullName.$error" ng-if="basicDetailsForm.fullName.$dirty">
          <div ng-message="required">Name is required.</div>
          <div ng-message="minlength">Name must be at least 5 characters long.</div>
          <div ng-message="maxlength">Name can be at most 20 characters long.</div>
        </div>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Date of birth</span>
        <input type="date" name="dob" placeholder="Date of birth" ng-model="epc.bdf.dobLocal" ng-required="true">
        <div class="app-error" ng-messages="basicDetailsForm.dob.$error" ng-if="basicDetailsForm.dob.$dirty">
          <div ng-message="required">Date of birth is required.</div>
        </div>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Gender
        </div>
        <select ng-model="epc.bdf.gender" ng-required="true">
          <option ng-repeat="g in epc.genderArr">{{g}}</option>
        </select>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Weight</span>
        <input type="number" name="weight" placeholder="Weight" ng-model="epc.bdf.weight" ng-required="true" ng-minlength="2" ng-maxlength="3">
        <div class="app-error" ng-messages="basicDetailsForm.weight.$error" ng-if="basicDetailsForm.weight.$dirty">
          <div ng-message="required">Weight is required.</div>
          <div ng-message="minlength">Weight must be at least 2 digits long.</div>
          <div ng-message="maxlength">Weight can be at most 3 digits long.</div>
        </div>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Height
        </div>
        <select ng-model="epc.bdf.height" ng-required="true">
          <option ng-repeat="h in epc.heightArr">{{h}}</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Complexion
        </div>
        <select ng-model="epc.bdf.complexion" ng-required="true">
          <option ng-repeat="c in epc.complexionArr">{{c}}</option>
        </select>
      </label>

      <label class="item item-input item-select">
        <div class="input-label">
          Body type
        </div>
        <select ng-model="epc.bdf.bodyType" ng-required="true">
          <option ng-repeat="bt in epc.bodyTypeArr">{{bt}}</option>
        </select>
      </label>
      <!--<label class="item item-input item-select">
            <div class="input-label">
              Martital status
            </div>
            <select ng-model="epc.bdf.martitalStatus">
              <option ng-repeat="mt in epc.martitalStatusArr">{{mt}}</option>
            </select>
          </label>
          <label class="item item-input item-select">
            <div class="input-label">
              Physical status
            </div>
            <select ng-model="epc.bdf.physicalStatus">
              <option ng-repeat="pt in epc.physicalStatusArr">{{pt}}</option>
            </select>
          </label>
          <label class="item item-input item-select">
            <div class="input-label">
              Eating habits
            </div>
            <select ng-model="epc.bdf.eatingHabit">
              <option ng-repeat="eh in epc.eatingHabitArr">{{eh}}</option>
            </select>
          </label>
          <label class="item item-input item-select">
            <div class="input-label">
              Drinking habits
            </div>
            <select ng-model="epc.bdf.drinkingHabit">
              <option ng-repeat="dh in epc.drinkingHabitArr">{{dh}}</option>
            </select>
          </label>
          <label class="item item-input item-select">
            <div class="input-label">
              Smoking habits
            </div>
            <select ng-model="epc.bdf.smokingHabit">
              <option ng-repeat="sh in epc.smokingHabitArr">{{sh}}</option>
            </select>
          </label>-->
      <div class="padding">
        <button class="button button-full button-assertive" ng-disabled="basicDetailsForm.$invalid" ng-click="epc.updateBasicDetails()">
          Update profile
        </button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
