<ion-view view-title="Display picture">
  <ion-content class="">
    <div class="card">
      <div class="item item-text-wrap txt-ctr-align">
        <img class="w50" src="{{epc.noavatar}}" ng-hide="epc.dp._id">
        <img class="w50" ng-src="data:image/jpg;base64,{{epc.dp.base64}}" ng-show="epc.dp._id" ng-click="epc.largeImg('dp')">
      </div>
    </div>
    <div class="padding">
      <button ui-sref="menu.profiles" ng-show="epc.isDPUpload" class="button button-full button-assertive">Next</button>
    </div>

    <!--<div class="card">
      <div class="item item-text-wrap">
        <button class="button button-assertive button-clear" ng-click="epc.addImgs('dp', 'camera')">
          <i class="icon icon ion-camera xlarge"></i>
        </button>
        <button class="button button-assertive button-clear float-right" ng-click="epc.addImgs('dp', 'galary')">
          <i class="icon ion-images  xlarge"></i>
        </button>
        <button class="button button-full button-assertive" ng-disabled="!epc.dp" ng-click="epc.updateDP()">
          Update
        </button>
      </div>
    </div>-->
  </ion-content>
  <!-- Footer -->
  <div class="bar bar-footer">
    <div class="row">
      <div class="col col-20 m-top-2">
        <button class="button button-assertive button-clear" ng-click="epc.addImgs('dp', 'camera')">
          <i class="icon icon ion-camera"></i>
        </button>
      </div>
      <div class="col col-60 m-top-2">
        <button ng-click="epc.updateDP()" ng-disabled="!epc.isDP" class="button button-full button-assertive mtop0">Upload</button>
      </div>
      <div class="col col-20 m-top-2 txt-right-align">
        <button class="button button-assertive button-clear" ng-click="epc.addImgs('dp', 'galary')">
          <i class="icon icon ion-images"></i>
        </button>
      </div>
    </div>
  </div>
</ion-view>
