<ion-view view-title="Edit profile">
  <ion-content>
    <div class="card">
      <div class="row" ng-show="epc.ownImgs.length == 0">
        <div class="col col-33 col-offset-33">
          <img class="grid-imgs" ng-src="{{epc.noavatar}}">
        </div>
      </div>

      <div class="row">
        <div class="col col-20" ng-repeat="img in epc.ownImgs">
          <img class="grid-imgs my-imgs" ng-src="data:image/jpg;base64,{{img.base64}}" ng-click="epc.largeImg('pp', $index)" />
        </div>
      </div>

      <div class="row">
        <div class="col col-20" ng-repeat="img in epc.homeImgs">
          <img class="grid-imgs my-imgs" ng-src="data:image/jpg;base64,{{img.base64}}" ng-click="epc.largeImg('pp', $index+5)" />
        </div>
      </div>

      <div class="row">
        <div class="col">
          <!--<button ng-click="epc.imgActionSheet()" class="button icon-right button-small button-royal button-full icon ion-edit">Add/edit images</button>-->
          <button ng-click="epc.imgActionSheet()" class="button button-small button-royal button-full">Update images</button>
        </div>
      </div>
      <div class="card">
        <div class="item item-divider">
          Basic details
          <i ng-click="epc.showBasicDetailsModal()" class="icon ion-edit float-right xlarge gray-clr"></i>
        </div>
        <div class="row">
          <div class="col col-40">Name</div>
          <div class="col col-60">{{epc.bdf.fullName}}</div>
        </div>
        <div class="row">
          <div class="col col-40">Gender</div>
          <div class="col col-60">{{epc.bdf.gender}}</div>
        </div>
        <div class="row">
          <div class="col col-40">Date of birth</div>
          <div class="col col-60" ng-show="epc.isShowDOB">{{epc.bdf.dobLocal | date: "d MMM yyyy"}}</div>
        </div>
        <div class="row">
          <div class="col col-40">Height</div>
          <div class="col col-60">{{epc.bdf.height}}</div>
        </div>
        <div class="row">
          <div class="col col-40">Weight</div>
          <div class="col col-60">{{epc.bdf.weight}}</div>
        </div>
        <div class="row">
          <div class="col col-40">Body type</div>
          <div class="col col-60">{{epc.bdf.bodyType}}</div>
        </div>
        <div class="row">
          <div class="col col-40">Complexion</div>
          <div class="col col-60">{{epc.bdf.complexion}}</div>
        </div>
      </div>
      <div class="card">
        <div class="item item-divider">
          Religious information
          <i ng-click="epc.showReligiousModal()" class="icon ion-edit float-right xlarge gray-clr"></i>
        </div>
        <div class="row">
          <div class="col col-40">Sub-caste</div>
          <div class="col col-60">{{epc.rif.subCaste}}</div>
        </div>
        <div class="row">
          <div class="col col-40">Time of birth</div>
          <div class="col col-60" ng-show="epc.isShowTOB">{{epc.rif.tobLocal | date: "h:mm a"}}</div>
        </div>
        <div class="row">
          <div class="col col-40">Zodiac</div>
          <div class="col col-60">{{epc.rif.zodiac}}</div>
        </div>
      </div>
      <div class="card">
        <div class="item item-divider">
          Professional information
          <i ng-click="epc.showProfessionModal()" class="icon ion-edit float-right xlarge gray-clr"></i>
        </div>
        <div class="row">
          <div class="col col-40">Education</div>
          <div class="col col-60">{{epc.pif.hEducation}}</div>
        </div>
        <div class="row">
          <div class="col col-40">Occupation</div>
          <div class="col col-60">{{epc.pif.occupation}}</div>
        </div>
        <div class="row">
          <div class="col col-40">Occupation desc</div>
          <div class="col col-60">{{epc.pif.occupationDesc}}</div>
        </div>
        <div class="row">
          <div class="col col-40">Annual income</div>
          <div class="col col-60">{{epc.pif.aIncome}}</div>
        </div>
      </div>
      <div class="card">
        <div class="item item-divider">
          Location
          <i ng-click="epc.showLocationModal()" class="icon ion-edit float-right xlarge gray-clr"></i>
        </div>
        <div class="row">
          <div class="col col-40">District</div>
          <div class="col col-60">{{epc.lif.district}}</div>
        </div>
        <div class="row">
          <div class="col col-40">Taluqa</div>
          <div class="col col-60">{{epc.lif.taluqa}}</div>
        </div>
        <div class="row">
          <div class="col col-40">Town</div>
          <div class="col col-60">{{epc.lif.town}}</div>
        </div>
      </div>
      <div class="card">
        <div class="item item-divider">
          Family details
          <i ng-click="epc.showFamilyModal()" class="icon ion-edit float-right xlarge gray-clr"></i>
        </div>
        <div class="row">
          <div class="col col-40">Family type</div>
          <div class="col col-60">{{epc.fif.familyType}}</div>
        </div>
        <div class="row">
          <div class="col col-40">Family values</div>
          <div class="col col-60">{{epc.fif.familyValues}}</div>
        </div>
        <div class="row">
          <div class="col col-40">Family status</div>
          <div class="col col-60">{{epc.fif.familyStatus}}</div>
        </div>
        <div class="row">
          <div class="col col-40">Brother(s)</div>
          <div class="col col-60">{{epc.fif.nBrothers}}</div>
        </div>
        <div class="row">
          <div class="col col-40">Sister(s)</div>
          <div class="col col-60">{{epc.fif.nSisters}}</div>
        </div>
        <div class="row">
          <div class="col col-40">Uncle(s)</div>
          <div class="col col-60">{{epc.fif.nUncles}}</div>
        </div>
        <div class="row">
          <div class="col col-40">Aunt(s)</div>
          <div class="col col-60">{{epc.fif.nAunts}}</div>
        </div>
      </div>

      <!-- Profiles preference -->
      <div class="card">
        <div class="item item-divider">
          Profiles preference
          <i ng-click="epc.showPPModal()" class="icon ion-edit float-right xlarge gray-clr"></i>
        </div>
        <div class="row">
          <div class="col col-40">Age</div>
          <div class="col col-60">{{epc.ppf.minAge}} - {{epc.ppf.maxAge}} Yrs</div>
        </div>
        <div class="row">
          <div class="col col-40">Height</div>
          <div class="col col-60">{{epc.ppf.minHeight}} - {{epc.ppf.maxHeight}}</div>
        </div>
        <div class="row">
          <div class="col col-40">Complexion</div>
          <div class="col col-60">{{epc.ppf.complexion}}</div>
        </div>
        <div class="row">
          <div class="col col-40">Body type</div>
          <div class="col col-60">{{epc.ppf.bodyType}}</div>
        </div>
        <div class="row">
          <div class="col col-40">Sub caste</div>
          <div class="col col-60">{{epc.ppf.subCaste}}</div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
