<ion-view view-title="Images">
  <ion-content class="">
    <ion-slide-box on-slide-changed="slideHasChanged($index)">
      <!--<ion-slide>
        <div class="box blue">
          <h1>BLUE</h1></div>
      </ion-slide>
      <ion-slide>
        <div class="box yellow">
          <h1>YELLOW</h1></div>
      </ion-slide>
      <ion-slide>
        <div class="box pink">
          <h1>PINK</h1></div>
      </ion-slide>-->
      <!--<ion-slide ng-repeat="oImage in aImages">
        <img ng-src="{{oImage.src}}"/>
        <p class="info">{{oImage.msg}}</p>

      </ion-slide>
      </ion-slide-box>-->

      <!--<ion-slide-box on-slide-changed="slideHasChanged($index)">
            <ion-slide >
              Hello
            </ion-slide>
      </ion-slide-box>-->


          <div class="card">
              <div class="item item-divider">
                  Fullscreen images + Slide Box
              </div>
              <div class="item item-text-wrap">
                  <div class="button-bar">
                      <a class="button" ng-click="openModal()">Show images from start</a>
                  </div>
              </div>
              <div class="item item-text-wrap">
                  <div class="button-bar">
                      <a class="button" ng-click="goToSlide(1)">Show second imagen</a>
                      <a class="button" ng-click="goToSlide(2)">Show third imagen</a>
                  </div>
              </div>
          </div>


          <script id="image-modal.html" type="text/ng-template">
                        <div class="modal image-modal transparent"
                             ng-click="closeModal()">
                          <ion-slide-box on-slide-changed="slideChanged(index)"
                                         show-pager="false">
                            <ion-slide ng-repeat="oImage in aImages">
                              <img ng-src="{{oImage.src}}" class="fullscreen-image" />
                              <p class="info">{{oImage.msg}}</p>
                            </ion-slide>
                          </ion-slide-box>
                        </div>
                    </script>
  </ion-content>
</ion-view>
