<ion-modal-view class="pfilter-modal">
  <ion-header-bar class="bar-assertive">
    <h1 class="title txt-ctr-align">Search profiles
       <!--<i class="icon ion-android-close float-right xlarge" ng-click="pc.hideProfileFModal()"></i>-->
       <button class="button button-clear float-right m-top1" ng-click="pc.hideProfileFModal()">
         <i class="icon ion-android-close"></i>
       </button>
     </h1>
  </ion-header-bar>
  <ion-content>
    <form name="profilesFilterForm" novalidate>
      <div class="item row no-padding">
        <div class="col no-padding">
          <label class="item item-input item-select">
            <div class="input-label xxsmall">
              Min age
            </div>
            <select ng-model="pc.pff.minAge" class="xxsmall">
              <option ng-repeat="a in pc.ageArr">{{a}}</option>
            </select>
          </label>
        </div>
        <div class="col no-padding">
          <label class="item item-input item-select">
            <div class="input-label xxsmall">
              Max age
            </div>
            <select ng-model="pc.pff.maxAge" class="xxsmall">
              <option ng-repeat="a in pc.ageArr">{{a}}</option>
            </select>
          </label>
        </div>
      </div>
      <div class="item row no-padding">
        <div class="col no-padding">
          <label class="item item-input item-select">
            <div class="input-label xxsmall">
              Min height
            </div>
            <select ng-model="pc.pff.minHeight" class="xxsmall">
              <option ng-repeat="h in pc.heightArr">{{h}}</option>
            </select>
          </label>
        </div>
        <div class="col no-padding">
          <label class="item item-input item-select">
            <div class="input-label xxsmall">
              Max height
            </div>
            <select ng-model="pc.pff.maxHeight" class="xxsmall">
              <option ng-repeat="h in pc.heightArr">{{h}}</option>
            </select>
          </label>
        </div>
      </div>

      <label class="item item-input item-select">
        <div class="input-label">
          Complexion
        </div>
        <select ng-model="pc.pff.complexion">
          <option ng-repeat="c in pc.complexionArr">{{c}}</option>
        </select>
      </label>

      <label class="item item-input item-select">
        <div class="input-label">
          Body type
        </div>
        <select ng-model="pc.pff.bodyType">
          <option ng-repeat="bt in pc.bodyTypeArr">{{bt}}</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Sub-caste
        </div>
        <select ng-model="pc.pff.subCaste">
          <option ng-repeat="sc in pc.subCasteArr">{{sc}}</option>
        </select>
      </label>
      <div class="padding">
        <button class="button button-full button-assertive" ng-disabled="profilesFilterForm.$invalid" ng-click="pc.filterProfiles()">
          Search
        </button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
