<ion-view view-title="Matching profiles">
  <ion-nav-buttons side="right">
    <div class="button button-clear" ng-click="pc.showProfileFModal()">
      <i class="xlarge ion-search"></i>
    </div>
  </ion-nav-buttons>
  <ion-content class="has-footer">
    <ion-refresher
      pulling-text="Fetch all profiles..."
      on-refresh = "pc.pullRefresher()"
      pulling-icon = "ion-android-refresh"
      spinner = "ios"
       >
    </ion-refresher>
    <div class="card" ng-hide="pc.isCompleted">
      <div class="item item-text-wrap">
        Please complete your profile <a ui-sref="menu.editprofile">here</a> to see other profiles.
      </div>
    </div>
    <div class="card" ng-show="pc.profiles.length === 0 && pc.isCompleted">
      <div class="item item-text-wrap">
        No profiles.
      </div>
    </div>
    <div class="card" ng-show="pc.profiles.length !== 0 && pc.isCompleted">
      <div class="item item-thumbnail-left" ng-repeat="p in pc.profiles" ng-click="pc.viewProfile(p._id, $index)">
        <img ng-src="data:image/jpg;base64,{{p.dp}}" >
        <h2>{{p.basicDetails.fullName}}</h2>
        <p>{{p.userId}}</p>
        <p>{{p.basicDetails.age}} Yrs, {{p.basicDetails.height.feet}}' {{p.basicDetails.height.inches}}"</p>
        <p>{{p.locationInfo.town}}, {{p.locationInfo.district}}.</p>
      </div>
    </div>
  </ion-content>
  <div class="bar bar-footer" ng-show="pc.isFProfiles">
    <button class="button button-assertive button-full mtop0" ng-click="pc.getProfiles()">Vie all profiles</button>
  </div>

  <div class="bar bar-footer item-input-inset" ng-hide="pc.isFProfiles">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" ng-model="pc.searchId" placeholder="Search by ID">
    </label>
    <button class="button" ng-disabled="pc.searchId.length != 8" ng-click="pc.searchProfile(pc.searchId)">
      Search
    </button>
  </div>
</ion-view>
