<ion-modal-view>
  <ion-header-bar class="bar-royal">
    <h1 class="title txt-ctr-align">Search profiles
       <!--<i class="icon ion-android-close float-right xlarge" ng-click="pc.hideProfileFModal()"></i>-->
       <button class="button button-clear float-right m-top1" ng-click="pc.hideProfileFModal()">
         <i class="icon ion-android-close"></i>
       </button>
     </h1>
  </ion-header-bar>
  <ion-content>
    <!-- Search by Id -->
    <form name="seachByIdForm" novalidate>
      <!--<div class="item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" ng-model="pc.searchId" placeholder="Search by ID" ng-required="true" ng-minlength="8" ng-maxlength="8">
        </label>
      </div>-->
      <label class="item item-input item-floating-label">
        <span class="input-label">Search by ID</span>
        <input type="text" placeholder="Search by ID" ng-model="pc.searchId" ng-required="true" ng-minlength="8" ng-maxlength="8">
      </label>
      <div class="padding">
        <button class="button button-full button-small button-royal" ng-disabled="seachByIdForm.$invalid" ng-click="pc.searchProfile(pc.searchId)">
          Search by ID
        </button>
      </div>
    </form>

    <!--<div class="padding-bottom txt-ctr-align">
      <hr class="txt-color">
      <label>OR</label>
      <hr class="txt-color">
    </div>-->

    <div class="padding-bottom">
      <button class="button button-full button-small button-stable">
        OR
      </button>
    </div>

    <!-- Profile filter form -->
    <form name="profilesFilterForm" novalidate>
      <div class="item row no-padding">
        <div class="col no-padding">
          <label class="item item-input item-select">
            <div class="input-label xxsmall">
              किमान वय
            </div>
            <select ng-model="pc.pff.minAge" class="xxsmall">
              <option ng-repeat="a in pc.ageAny">{{a}}</option>
            </select>
          </label>
        </div>
        <div class="col no-padding">
          <label class="item item-input item-select">
            <div class="input-label xxsmall">
              कमाल वय
            </div>
            <select ng-model="pc.pff.maxAge" class="xxsmall">
              <option ng-repeat="a in pc.ageAny">{{a}}</option>
            </select>
          </label>
        </div>
      </div>
      <div class="item row no-padding">
        <div class="col no-padding">
          <label class="item item-input item-select">
            <div class="input-label xxsmall">
              किमान उंची
            </div>
            <select ng-model="pc.pff.minHeight" class="xxsmall">
              <option ng-repeat="h in pc.heightAny">{{h}}</option>
            </select>
          </label>
        </div>
        <div class="col no-padding">
          <label class="item item-input item-select">
            <div class="input-label xxsmall">
              कमाल उंची
            </div>
            <select ng-model="pc.pff.maxHeight" class="xxsmall">
              <option ng-repeat="h in pc.heightAny">{{h}}</option>
            </select>
          </label>
        </div>
      </div>

      <label class="item item-input item-select">
        <div class="input-label">
          वर्ण
        </div>
        <select ng-model="pc.pff.complexion">
          <option ng-repeat="c in pc.complexionAny">{{c}}</option>
        </select>
      </label>

      <label class="item item-input item-select">
        <div class="input-label">
          शरीर सौष्ठव
        </div>
        <select ng-model="pc.pff.bodyType">
          <option ng-repeat="bt in pc.bodyTypeAny">{{bt}}</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          उपजाती
        </div>
        <select ng-model="pc.pff.subCaste">
          <option ng-repeat="sc in pc.subCasteAny">{{sc}}</option>
        </select>
      </label>
      <div class="padding">
        <button class="button button-full button-small button-royal" ng-disabled="profilesFilterForm.$invalid" ng-click="pc.filterProfiles()">
          Search
        </button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
