<ion-view view-title="Matching profiles">
  <ion-nav-buttons side="right">
    <div class="button button-clear" ng-click="pc.showProfileFModal()">
      <i class="xlarge ion-search"></i>
    </div>
  </ion-nav-buttons>
  <ion-content class="has-footer">
    <div class="card" ng-show="pc.profiles.length === 0">
      <div class="item item-text-wrap">
        No matches
      </div>
    </div>
    <div class="card" ng-show="pc.profiles.length !== 0">
      <div class="item item-thumbnail-left" ng-repeat="p in pc.profiles" ng-click="pc.viewProfile(p._id)" >
        <img src="img/sm-2.png">
        <h2>{{p.fullName}}</h2>
        <p>{{p.userId}}</p>
        <p>24 Yrs, 5'6", Sangli.</p>
        <p>24 Yrs, 5'6", Sangli.</p>
      </div>
    </div>

    <!--<div class="list">
      <div class="item item-thumbnail-left" ui-sref="menu.profile" ng-repeat="p in pc.profiles">
        <img src="img/sm-2.png">
        <h2>{{p.fullName}}</h2>
        <p>24 Yrs, 5'6", Sangli.</p>
        <p>24 Yrs, 5'6", Sangli.</p>
        <p>24 Yrs, 5'6", Sangli.</p>
      </div>
    </div>-->
  </ion-content>
  <div class="bar bar-footer item-input-inset">
    <!--<button class="button ">Left</button>
        <div class="title">Title</div>
        <button class="button ">Right</button>-->
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" ng-model="pc.searchId" placeholder="Search by ID">
    </label>
    <button class="button" ng-click="pc.searchProfile(pc.searchId)">
      Search
    </button>
  </div>
</ion-view>
