<ion-view side="right" view-title="Home" title="Home" hide-back-button="false" hide-nav-bar="false">
  <ion-nav-buttons side="left">
    <button class="button" ng-click="$ionicGoBack()">
      <i class=" ion-android-arrow-back"></i>
    </button>
  </ion-nav-buttons>

  <ion-content class='sweet-bg-clr open-sans-font'>
    <div class="list">
      <button class="button button-icon ion-plus" ng-click="addItem()">
      </button>
      <ion-list>
        <ion-item ng-repeat="item in items">
          {{item.name}}
        </ion-item>
      </ion-list>
      <div class="">
        <p class="text-center">
          Home page
        </p>
        <p class="text-center" ui-sref="signin">
          Sign in
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
