<ion-view view-title="Edit profile">
  <ion-content class="">
    <div class="card">
        <div class="item item-body">
          <div class="item item-body txt-ctr-align" ng-show="!ic.dp" ng-click="ic.largeImg('dp')">
            <img src="{{ic.noavatar}}">
          </div>
          <img class="full-image" src="{{ic.dp.uri}}" ng-show="ic.dp" ng-click="ic.largeImg('dp')">
          <div class="padding">
            <i class="icon ion-camera float-left xlarge" ng-click="ic.addImgs('dp', 'camera')"></i>
            <i class="icon ion-image float-right xlarge" ng-click="ic.addImgs('dp', 'galary')"></i>
          </div>
          <div class="padding">
            <!--<button class="button button-full button-assertive" ng-click="ic.changeDP()">
              Add new image
            </button>-->
          </div>
          <!--<label class="item item-input item-floating-label">
            <span class="input-label">Full name</span>
            <input type="text" name="fullName" placeholder="Full name" ng-model="signupCtrl.sf.fullName" ng-required="true" ng-minlength="5" ng-maxlength="20">
            <div class="app-error" ng-messages="eMyProfileForm.fullName.$error" ng-if="eMyProfileForm.fullName.$dirty">
              <div ng-message="required">Name is required.</div>
              <div ng-message="minlength">Name must be at least 5 characters long.</div>
              <div ng-message="maxlength">Name can be at most 20 characters long.</div>
            </div>
          </label>-->
          <div class="padding">
            <button class="button button-full button-assertive" ng-disabled="!ic.dp" ng-click="signupCtrl.signup()">
              Update
            </button>
          </div>
        </div>
    </div>
  </ion-content>
</ion-view>
