<ion-modal-view>
  <ion-header-bar class="bar-assertive">
    <h1 class="title txt-ctr-align">Profile
      <i class="icon ion-android-arrow-back float-left xlarge" ng-click="spc.hideProfileModal()"></i>
    </h1>
  </ion-header-bar>
  <ion-content class="">
    <div class="card">
      <div class="item item-body">
        <img class="full-image" src="img/sm-2.png" ng-click="pc.largeImg('pp')">
        <h2>{{spc.profile.fullName}}</h2>
        <p>24 Yrs, 5'6", {{spc.profile.location.district}}.</p>
      </div>
      <div class="card">
        <div class="item item-divider">
          Basic details
        </div>
        <!--<div class="item item-text-wrap">
          Name: {{spc.profile.fullName}}
        </div>-->
        <div class="row">
          <div class="col col-40">Name:</div>
          <div class="col col-60">{{spc.profile.fullName}}</div>
        </div>
        <div class="row">
          <div class="col col-40">Gender:</div>
          <div class="col col-60">{{spc.profile.gender}}</div>
        </div>
        <div class="row">
          <div class="col col-40">Weight:</div>
          <div class="col col-60">{{spc.profile.pinfo.weight}}</div>
        </div>
        <div class="row">
          <div class="col col-40">Body type:</div>
          <div class="col col-60">{{spc.profile.pinfo.bodyType}}</div>
        </div>
        <div class="row">
          <div class="col col-40">Complexion:</div>
          <div class="col col-60">{{spc.profile.pinfo.complexion}}</div>
        </div>
      </div>
      <div class="card">
        <div class="item item-divider">
          Religious information
        </div>
        <div class="row">
          <div class="col col-40">Sub-caste:</div>
          <div class="col col-60">{{spc.profile.pinfo.subCaste}}</div>
        </div>
        <div class="row">
          <div class="col col-40">Time of birth:</div>
          <div class="col col-60">{{spc.profile.pinfo.tob}}</div>
        </div>
        <div class="row">
          <div class="col col-40">Zodiac:</div>
          <div class="col col-60">{{spc.profile.pinfo.zodiac}}</div>
        </div>
      </div>
      <div class="card">
        <div class="item item-divider">
          Professional information
        </div>
        <div class="row">
          <div class="col col-40">Education:</div>
          <div class="col col-60">{{spc.profile.profession.hEducation}}</div>
        </div>
        <div class="row">
          <div class="col col-40">Occupation:</div>
          <div class="col col-60">{{spc.profile.profession.occupation}}</div>
        </div>
        <div class="row">
          <div class="col col-40">Occupation desc:</div>
          <div class="col col-60">{{spc.profile.profession.occupationDesc}}</div>
        </div>
        <div class="row">
          <div class="col col-40">Annual income:</div>
          <div class="col col-60">{{spc.profile.profession.aIncome}}</div>
        </div>
      </div>
      <div class="card">
        <div class="item item-divider">
          Location
        </div>
        <div class="row">
          <div class="col col-40">District:</div>
          <div class="col col-60">{{spc.profile.location.district}}</div>
        </div>
        <div class="row">
          <div class="col col-40">Taluqa:</div>
          <div class="col col-60">{{spc.profile.location.taluqa}}</div>
        </div>
        <div class="row">
          <div class="col col-40">Town:</div>
          <div class="col col-60">{{spc.profile.location.town}}</div>
        </div>
      </div>
      <div class="card">
        <div class="item item-divider">
          Family details
        </div>
        <div class="row">
          <div class="col col-40">Family type:</div>
          <div class="col col-60">{{spc.profile.family.familyType}}</div>
        </div>
        <div class="row">
          <div class="col col-40">Family values:</div>
          <div class="col col-60">{{spc.profile.family.familyValues}}</div>
        </div>
        <div class="row">
          <div class="col col-40">Family status:</div>
          <div class="col col-60">{{spc.profile.family.familyStatus}}</div>
        </div>
        <div class="row">
          <div class="col col-40">Brother(s):</div>
          <div class="col col-60">{{spc.profile.family.nBrothers}}</div>
        </div>
        <div class="row">
          <div class="col col-40">Sister(s):</div>
          <div class="col col-60">{{spc.profile.family.nSisters}}</div>
        </div>
        <div class="row">
          <div class="col col-40">Uncle(s):</div>
          <div class="col col-60">{{spc.profile.family.nUncles}}</div>
        </div>
        <div class="row">
          <div class="col col-40">Aunt(s):</div>
          <div class="col col-60">{{spc.profile.family.nAunts}}</div>
        </div>
      </div>
    </div>
  </ion-content>
  <!--<div class="bar bar-footer item-input-inset">
    <button ng-click="pc.shortlist(spc.profile._id)" class="button icon-right button-assertive" ng-class="{ 'ion-android-star': pc.isShortlist, 'ion-android-star-outline': !pc.isShortlist }">{{pc.shortlistBtn}}</button>
    <button ng-click="pc.interest(pc.profile._id)" class="button icon-right button-assertive" ng-class="{ 'ion-ios-heart': pc.isInterest, 'ion-ios-heart-outline': !pc.isInterest }">{{pc.interestBtn}}</button>
  </div>-->
</ion-modal-view>
