<ion-view view-title="Shortlisted">
  <ion-content class="">
    <div class="card" ng-show="pc.profiles.length === 0">
      <div class="item item-text-wrap">
        Empty shortlist
      </div>
    </div>
    <div class="card" ng-show="pc.profiles.length !== 0">
      <div class="item item-thumbnail-left" ng-repeat="p in pc.profiles">
        <img ng-src="data:image/jpg;base64,{{p.dp}}" ng-click="pc.viewProfile(p._id)">
        <h2>
          {{p.basicDetails.fullName}}
        </h2>
        <button class="button button-assertive button-clear float-right" ng-click="pc.removeFromShortlist(p._id, $index)">
          <i class="icon ion-android-delete"></i>
        </button>
        <div class="" ng-click="pc.viewProfile(p._id, $index)">
          <p>24 Yrs, 5'6", Sangli.</p>
          <p>24 Yrs, 5'6", Sangli.</p>
          <p>24 Yrs, 5'6", Sangli.</p>
        </div>
      </div>
    </div>
  </ion-content>
  <!--<div class="bar bar-footer">
    <button class="button button-full mtop0" ui-sref="menu.profiles">View other profiles</button>
  </div>-->
</ion-view>
